pip
celery
certifi
chardet
dj-database-url
Django
django-nested-admin
django-ordered-model
django-yamlfield
django-debug-toolbar
gunicorn
idna
newrelic
pdfminer.six
psycopg2-binary
pytz
PyYAML
sklearn
redis
requests
six
tqdm
urllib3
whitenoise
pyLDAvis==3.3.1
python-decouple
processostjrj@git+https://github.com/MinisterioPublicoRJ/processostjrj.git@develop
classificador-lyra@git+https://github.com/MinisterioPublicoRJ/classificador-lyra.git@develop


