<div class="modal fade" id="adicionarClasseModal" tabindex="-1" role="dialog" aria-labelledby="adicionarClasseModallLabel1" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header b-0">
                <h2 class="modal-title font-weight-bold" id="adicionarClasseModalLabel1"></h2>
            </div>
            <form method='POST' id="frmNomeClasse" action=''>
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Classe de filtro <b class="text-danger">*</b></label>
                        <input type="text" id="nome" name="nome" class="form-control">
                    </div>
                </div>
                <div class="modal-footer b-0">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
