{% extends 'labeler/base.html' %}
{% load static %}
{% block basecontent %}
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header">
            <div class="navbar-header-logos">
                <div class="top-left-part">
                    <img src="{% static 'labeler/img/logo_lyra_branco.png' %}">
                </div>
                <div class="top-right-part">
                    <img src="{% static 'labeler/img/header_logo.png' %}">
                </div>
            </div>

            <ul class="nav navbar-top-links navbar-right pull-right">
                <li class="right-side-toggle">

                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
