{% extends 'labeler/index.html' %}
{% load tags_extras %}
{% load widget_tweaks %}
{% load bootstrap4 %}

{% block page_heading_text %}
    <h2 class="text-white text-uppercase"> Gerenciamento de Filtros | Cadastrar</h2>
{% endblock %}

{% block content %}
    <form class=""
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row p-5">
            <div class="col-md-12">
                <div class="white-box">
                    <h5 class="font-weight-bold">Informações básicas</h5>
                    <div class="panel" style="border: 1px solid #eeee; border-radius: 15px">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    {% bootstrap_field form.nome %}
                                </div>
                                <div class="form-group col-sm-6" style="display: inline">
                                    <div class="form-group col-sm-6" style="display: inline">
                                        <div id="id_adicionar_filtro-status" class="inline m-t-15">

                                            <label for="id_adicionar_filtro-status_0">
                                                <input type="radio"
                                                       name="adicionar_filtro-status"
                                                       value="1"
                                                       class="inline"
                                                       required=""
                                                       id="id_adicionar_filtro-status_0"
                                                       checked="">
                                                Ativo</label>


                                            <label for="id_adicionar_filtro-status_1">
                                                <input type="radio"
                                                       name="adicionar_filtro-status"
                                                       value="2"
                                                       class="inline"
                                                       required=""
                                                       id="id_adicionar_filtro-status_1">
                                                Inativo</label>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="white-box mt-5">
                        <h5 class="font-weight-bold">Configurações da consulta</h5>
                        <div class="panel" style="border: 1px solid #eeee; border-radius: 15px">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        {% bootstrap_field form.tipo_raspador %}
                                    </div>
                                    <div class="form-group col-sm-6">
                                        {% bootstrap_field form.arquivo_tabulado %}
                                    </div>
                                    <div class="form-group col-sm-6">
                                        {% bootstrap_field form.tipos_movimento|add_class:'select2' %}
                                    </div>
                                    <div class="form-group col-sm-6">
                                        {% bootstrap_field form.arquivo_documentos %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button type="button"
                                class="btn btn-outline-success waves-effect waves-light m-r-10"
                                {% if not object %}
                                disabled="disabled"
                                title="Disponível após o salvamento do filtro"
                                {% else %}
                                data-toggle="modal"
                                data-target="#adicionarClasseModal"
                                onclick='adicionarClasse();'
                                {% endif %}>
                            <i class="fa fa-plus m-r-10"></i>
                            Adicionar Classe de Filtro
                        </button>
                        {% if object %}
                            <div id="classes" class="m-t-20 m-b-20" id="classeCollapse"></div>
                        {% endif %}
                    </div>

                    <div class="text-right">
                        <a href="{% url 'filtros:list' %}" class="btn btn-inverse waves-effect waves-light">Voltar</a>
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Salvar</button>
                    </div>

                </div>
            </div>
        </div>
    </form>

    <!-- Adicionar Classe Modal-->
    {% include 'filtro/componentes/modal_adicionarclasse.html' %}

    <!-- adicionar item de filtro modal -->
    {% include 'filtro/componentes/modal_adicionaritemfiltro.html' %}


{% endblock %}

{% block extrascripts %}

    <script>
        $(document).ready(function () {
            function populateTable() {
                $.ajax({
                    url: "{% url 'filtro:get_classe_data' %}?&filtroId={{ object.id }}",
                    type: 'GET',
                }).done((response) => {
                    debugger
                    $('#classeTable tbody').empty();
                    $.each(response, function (index, classe) {
                        debugger
                        var card = '<div class="card">' +
                            '<div class="card-header" id="headingOne">' +
                            '<div class="row">' +
                            '<div class="col-sm-6">' +
                            '<h5 class="mb-0">' +
                            '<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne' + index + '"' +
                            'aria-expanded="true" type="button" aria-controls="collapseOne' + index + '">' +
                            classe.nome +
                            '</button>' +
                            '</h5>' +
                            '</div>' +
                            '<div class="col-sm-6 m-t-15 text-right">' +
                            '<a href="#" onclick="alterarClasse(' + classe.id + ')" class="edit-btn">Editar Classe | </a>' +
                            '<a href="#" class="delete-btn"> Excluir Classe | </a>' +
                            '<a href="#" onclick=""> Adicionar Termo</a>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '<div id="collapseOne' + index + '" class="collapse" aria-labelledby="headingOne" data-parent="#classeElements">' +
                            '<div class="card-body">' +
                            '<table class="table">' +
                            '<thead>' +
                            '<tr>' +
                            '<th scope="col">Tipo</th>' +
                            '<th scope="col">Termos</th>' +
                            '<th scope="col">Ação</th>' +
                            '</tr>' +
                            '</thead>' +
                            '<tbody>';

                        // Iterate over the classe object to create rows in the table
                        $.each(classe.termos, function (termoIndex, termo) {
                            card += '<tr>' +
                                '<td>' + termo.tipo + '</td>' +
                                '<td>' + termo.termos + '</td>' +
                                '<td>' +
                                '<button class="edit-btn" data-id="' + termo.id + '">Edit</button>' +
                                '<button class="delete-btn" data-id="' + termo.id + '">Delete</button>' +
                                '</td>' +
                                '</tr>';
                        });

                        // Complete the card structure
                        card += '</tbody>' +
                            '</table>' +
                            '</div>' +
                            '</div>' +
                            '</div>';

                        $('#classeElements').append(card);
                    });


                });
            }

            populateTable();

            $('#frmNomeClasse').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    url: "{% url 'filtro:classe_create' %}",
                    type: "POST",
                    data: {
                        nome: $('#nome').val(),
                        filtroId: '{{ object.id }}'
                    },
                    success: function (response) {
                        if (response.success) {
                            populateTable();
                        } else {
                            console.log(response.errors);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });

            // Edit button click event
            $(document).on('click', '.edit-btn', function () {
                var classeId = $(this).data('id');
                window.location.href = "{% url 'filtro:classe_update' pk=0 %}".replace('0', classeId);
            });

            $(document).on('click', '.delete-btn', function () {
                var classeId = $(this).data('id');
                if (confirm('Are you sure you want to delete this class?')) {
                    $.ajax({
                        url: "{% url 'filtro:classe_delete' pk=0 %}".replace('0', classeId),
                        type: "POST",
                        data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                        success: function (response) {
                            if (response.success) {
                                populateTable();
                            } else {
                                console.log('Delete failed');
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                }
            });
        });


        const adicionarClasse = () => {
            $('#adicionarClasseModalLabel1').text('Nova Classe de Filtro');
            $('#idNome').value = '';
        }

        const alterarClasse = (idClasse, valorAtual) => {
            $('#adicionarClasseModalLabel1').innerHTML = 'Atualizar Nome de Classe'
            $('#{{adicionarclasseform.nome.auto_id}}').value = valorAtual
            $('#{{adicionarclasseform.idclasse.auto_id}}').value = idClasse
        }
    </script>

{% endblock %}
